
body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    background-color: #282a36;
    color: #f8f8f2;
}

.drac-heading {
    padding: 5px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 0;
}

.card {
    background-color: 	#44475a;
    border-radius: 25px;
    padding: 25px;
    width: 750px;
    flex: 0 1;
}

a {
    margin: 20px;
}

.formInput {
    display: flex;
    align-items: center;
}

.domain, .submit {
    flex: 1 1 0;
}