<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CAA Tester</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="/static/dracula-ui.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Teko:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="top">
      <div class="card">
        <div class="header">
          <h1 class="drac-heading drac-heading-xl drac-text-pink">
            CAA Tester
          </h1>
        </div>

        <div class="content">
          <h3 class="drac-heading drac-heading-lg drac-text-pink">
            What is a CAA record?
          </h3>
          <p class="drac-text drac-line-height drac-text-white">
            A Certification Authority Authorization (CAA) record specifies the
            cerfiticate authorities (CA) that can issue certificates for your
            domian. <br />
            Using this tool you can verify if your SSL certificate provider can
            issue certificates for your domain.
          </p>
          <form action="/verify_caa">
            <div class="formInput">
              <input
                type="text"
                id="domain"
                name="domain"
                placeholder={{.PlaceHolder}}
                class="drac-input drac-input-white drac-text-white"
              /><br />
              <button
                type="submit"
                value="Check"
                id="submit"
                class="drac-btn drac-bg-purple drac-m-sm"
              >
                Check
              </button>
            </div>
          </form>
        </div>
        <div class="result">
          <h1 class="drac-text drac-text-pink">{{.Title}}</h1>
          <ul class="drac-list drac-list-unordered drac-list-purple">
            {{range $I, $Domain := .Items}}
              <li class="drac-text drac-text-white">{{$Domain}}</li>
            {{end}}
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <a
        href="https://github.com/logan-bobo/caa_tester"
        class="drac-anchor drac-text drac-text-cyan-green drac-text-yellow-pink--hover drac-mb-sm"
        >GitHub</a
      >
      <a
        href="https://logan-cox.com"
        class="drac-anchor drac-text drac-text-cyan-green drac-text-yellow-pink--hover drac-mb-sm"
        >Personal Website</a
      >
    </div>
  </body>
</html>
