name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: 'actions/checkout@v3'

    - name: Auth to Google Cloud
      id: 'auth'
      uses: 'google-github-actions/auth@v1'
      with:
        token_format: 'access_token'
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - name: auth registry
      uses: 'docker/login-action@v1'
      with:
        registry: 'gcr.io'
        username: 'oauth2accesstoken'
        password: '${{ steps.auth.outputs.access_token }}'
   
    - name: Build and push container
      uses: docker/build-push-action@v4
      with:
        push: true
        tags: gcr.io/caa-tester:latest
